body {
    
}

/* header styling start */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 15px;
    font-size: small;
}

.high-scores {
    text-align: left;
}

.timer {
    text-align: right;
}
/* header styling end */


/* section styling start */ 
section {
    align-items: center;
    margin: 250px;
    padding: 50px;
    text-align: center;
    border-bottom: solid gray 2px;
}

button {
    background-color:mediumpurple;
    border-radius: 100px;
    padding: 5px;
    margin: 15px;
    display: flex;
}

/* section styling start */ 
